html {
  margin: 0;
  background-color:blue; 
}
body {
  
  margin: 10%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  
}
a{
  margin :20px;
color:black;
  
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}
