html {
  margin: 0;
  background-color:blue; 
}
body {
  
  margin: 10%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:light;
  
}

a:link {
margin :20px;
  color: black;
}

/* visited link */
a:visited {
margin :20px;
  color: black;
}

/* mouse over link */
a:hover {
margin :20px;
  color: hotpink;
}

/* selected link */
a:active {
margin :20px;

  color: black;
}
