*{font-family: 'IBM Plex Serif', serif;}
.img2{
    position: absolute;
width: 216px;
height: 211px;
left: 106px;
top: 181px;



}

.img1{
    position: absolute;
width: 49px;
height: 48px;
left: 40px;
top: 6px;

background: url(image.png);
}
.crossicon{
    text-decoration: none;
    position: absolute;
left: 88.79%;
right: 4.21%;
top: 9.18%;
bottom: 87.58%;


}
.r1{
    position: absolute;
width: 378px;
height: 53px;
left: 25px;
top: 463px;

background: #FFE7E7;
border-radius: 10px;
}
.r2{
    
position: absolute;
width: 378px;
height: 53px;
left: 25px;
top: 539px;

background: #FFE7E7;
border-radius: 10px;
}
.r3{
    position: absolute;
width: 358px;
height: 50.2px;
left: 37px;
top: 650px;

background: #00CCF9;
border-radius: 9.4709px;
font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 400;
font-size: 18.13px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}
.or{
    position: absolute;
width: 19px;
height: 24px;
left: 190px;
top: 718px;

font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 400;
font-size: 18.13px;
line-height: 24px;
/* identical to box height */


color: #000000;

}
.r4{
    position: absolute;
width: 110px;
height: 50px;
left: 145px;
top: 773px;

background: #F2A2FF;
border-radius: 9.4709px;
font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 400;
font-size: 18.13px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}
.l1{
    /* Phone number, username, email */
z-index: 2;

position: absolute;
width: 278px;
height: 24px;
left: 40px;
top: 478px;

font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 400;
font-size: 18.1304px;
line-height: 24px;
/* identical to box height */


color: #E88B8B;

}
.l2{
    /* Password */
z-index: 2;

position: absolute;
width: 82px;
height: 24px;
left: 40px;
top: 554px;

font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 400;
font-size: 18.13px;
line-height: 24px;
/* identical to box height */


color: #E88B8B;

}
.header{
    /* Rectangle 8 */


position: absolute;
width: 100%;
height: 58px;
left: 0px;
top: -1px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

